<h1>web page</h1>
<%= link_to "create a post", post_create_path %> <br/>
<%= link_to "find a post", post_search_path %>
<hr/>
<% if @foto.present? %>
<h2>latest foto (<%= link_to "view", post_path(id: @foto.id) %>)</h2>
  <img
    src=<%= @foto.url %>
    alt=<%= @foto.desc %>
    style="width:250px"
    class="mb-4"
  >
  <h4><%= @foto.desc %></h4>
<% else %>
  <h1>there are no photos</h1>
  <h3>you should <%= link_to "make one", post_create_path %></h3>
<% end %>