- if @comment.errors.any?
  - @comment.errors.full_messages.each do |error|
    .alert.alert-danger= error
- if @foto.present?
  %img.mb-4{ src: @foto.url, alt: @foto.desc, style: "width:500px" }
  %h1 #{@foto.desc}
  %h3 ##{@foto.id}
  %hr/
  - @foto.comments.each do |comment|
    .p-2.mb-2.rounded.bg-primary.text-white= comment.content
  %h3 Add a comment
  = form_with model: @comment, url: post_path(id: params[:id]), data: {turbo:false} do |f|
    = f.label :content, class: "form-label"
    = f.text_field :content, class: "form-control"
    = f.submit local: true, class: "btn btn-primary mt-2"
- else
  %h1 404
  %h3 foto not found
%hr
= link_to "Go back", post_search_path